<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="vside" value="https://vside.myget.org/F/vssdk/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="vside" value="https://vside.myget.org/F/vssdk/api/v3/index.json" />
  </activePackageSource>
</configuration>